<launch>
  <arg name="model" default="$(find amiga_sim)/urdf/amiga_model_v1.urdf" />
  <arg name="world_name" default="$(find amiga_sim)/worlds/farm.world"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <rosparam file="$(find amiga_sim)/config/base_control.yaml" command="load" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="joint_state_controller 
                              br_wheel_joint_velocity_controller
                              bl_wheel_joint_velocity_controller
                              fl_wheel_joint_velocity_controller
                              fr_wheel_joint_velocity_controller" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- Generate weed model before spawning -->
  <node pkg="amiga_sim" type="gen_weeds.py" name="weed_generator" output="screen"/>
  <!-- Spawn the generated weed model -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_weeds" output="screen"
      args="-file $(find amiga_sim)/models/farm_weeds/model.sdf -sdf -model farm_weeds -x 0 -y 0 -z 0" />
  
  <!-- Sim weed oracle: publishes nearest weed on the robot's row -->
  <node pkg="amiga_sim"
        type="sim_weed_oracle.py"
        name="sim_weed_oracle"
        output="screen">
    <!-- If you ever change row_spacing, keep this in sync with gen_weeds.py -->
    <param name="row_spacing" value="1.18" />
    <param name="robot_model_name" value="amiga_model" />
  </node>

    <!-- Fake GPS from Gazebo world pose -->
  <node pkg="amiga_sim"
        type="sim_fake_gps.py"
        name="sim_fake_gps"
        output="screen">
    <param name="robot_model_name" value="amiga_model" />
    <!-- Choose whatever farm origin you like later -->
    <param name="lat0_deg" value="40.1149" />
    <param name="lon0_deg" value="-88.2249" />
    <param name="alt0" value="220.0" />
  </node>

  <!-- Spawn the robot model -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description -urdf -model amiga_model -x -1.87 -y -20.0 -z 0.0" />

  <!-- Bridge twist to wheeels -->
  <node pkg="amiga_sim" type="sim_control.py" name="twist_to_wheels" output="screen" />

  <!-- launches rviz -->
  <include file="$(find amiga_sim)/launch/display.launch" />
</launch>
